.App {
  background-color: white;
  min-height: 100vh;
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
}

@font-face {
  font-family: 'Rodfellows-wacky';
  src: local('Rodfellows-wacky'), url(./assets/fonts/Rodfellows-wacky.ttf) format('truetype');
}

/*

  NOTE
  otf => format('opentype')
  ttf => format('truetype')
  woff => format('woff')

*/

